<div class="card">
  <div class="card-header">
    Employees Information
    <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group mr-2" role="group" aria-label="List">
        <button [routerLink]="['/employees']" type="button" class="btn btn-secondary">List</button>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="Tiles">
        <button [routerLink]="['/employees-tiles']" type="button" class="btn btn-secondary">Tiles</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card-columns ">
      <div class="card shadow p-1 mb-2 bg-white" *ngFor="let employee of employees">
        <img class="card-img-top" src="{{ 'assets/images/' + employee.gender + '.png'}}" width="90px" height="180px" alt="Card image">
        <div class="card-body">
          <h5 class="card-title">{{employee.firstName}} {{employee.lastName}}</h5>
          <a [routerLink]="['/employees', employee.id]">{{ employee.email }}</a>
          <p class="card-text">{{employee.profile}}</p>
          <button [routerLink]="['/employees', employee.id, 'edit']" type="button" class="btn btn-outline-primary">Edit</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="alert alert-danger" role="alert" *ngIf="errorMsg">{{errorMsg}}</div>