<div style="height: calc(80vh);">
    <div class="container" style="margin-top: 70px;">
        <div class="row">
            <div class="col-8">
                <div class="card-columns">
                    <div class="card" *ngFor="let employee of employees">
                        <app-employee [employee]="employee" (notifySeeDetails)="notifySeeDetail($event)"></app-employee>
                    </div>
                </div>
            </div>
            <div class="col-4" *ngIf="selectedEmployee">
                <div class='card'>
                    <div class='card-header'>
                      {{selectedEmployee.firstName}}
                    </div>
                    <div class='card-body'>
                        
                    </div>
                </div>
        </div>
    </div>
</div>